.the-dots
figure.cover-square
    img(src="https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")
.padding-top-20
    h2.heading Karen William
    p.label Senior Designer