.box-testimonial
    .box-testimonial__avatar
        figure.cover-square
            img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")

    .box-testimonial__content
        .audio-player
            button.button-play
                <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 6L-4.89399e-07 11.1962L-3.51373e-08 0.803847L9 6Z" fill="#ffffff"/>
                </svg>

        .content-text.padding-top-20
            div
                h2.heading Testimonial
                p.label Tom Hope
            p.label 20:45
    
